/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
composer.lock

#JS
/public/js/
/public/js/app.js
/public/css/
/public/css/app.css
/public/mix-manifest.json

# API management
/app/brightwriter-f4a7737ed308.json
/app/client_secret_208001095396-s0kvlf4vsijlvui1oopcjrloa81mvt5f.apps.googleusercontent.com.json
/app/client_secret_drive.json
/.php_cs.cache
/storage/
